<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="/favicon.ico">
  <title>mypro</title>
  <link href="v3test/static/css/chunk-23cd7265.44135866.css" rel="prefetch">
  <link href="v3test/static/css/chunk-b762cae4.ed6646be.css" rel="prefetch">
  <link href="v3test/static/js/chunk-23cd7265.22d8bea5.js" rel="prefetch">
  <link href="v3test/static/js/chunk-b762cae4.e5432c02.js" rel="prefetch">
  <link href="v3test/static/css/app.d5bf2a76.css" rel="preload" as="style">
  <link href="v3test/static/css/chunk-vendors.d38c9f5b.css" rel="preload" as="style">
  <link href="v3test/static/js/app.04b9e8e3.js" rel="preload" as="script">
  <link href="v3test/static/js/chunk-vendors.00cc878f.js" rel="preload" as="script">
  <link href="v3test/static/css/chunk-vendors.d38c9f5b.css" rel="stylesheet">
  <link href="v3test/static/css/app.d5bf2a76.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but mypro doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong></noscript>
  <div id="app"></div>
  <script src="v3test/static/js/chunk-vendors.00cc878f.js"></script>
  <script src="v3test/static/js/app.04b9e8e3.js"></script>
</body>

</html>