<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="myPro/favicon.ico">
  <title>mypro</title>
  <link href="myPro/css/chunk-02637e39.3b852245.css" rel="prefetch">
  <link href="myPro/css/chunk-0a020b58.5b5fdae1.css" rel="prefetch">
  <link href="myPro/css/chunk-0b8eb70b.1db8fe10.css" rel="prefetch">
  <link href="myPro/css/chunk-256ef70c.dd3e2dea.css" rel="prefetch">
  <link href="myPro/css/chunk-39815e61.756f20da.css" rel="prefetch">
  <link href="myPro/css/chunk-52909422.42f41f16.css" rel="prefetch">
  <link href="myPro/css/chunk-53e8b5ce.74d91db7.css" rel="prefetch">
  <link href="myPro/css/chunk-762326fc.9c369325.css" rel="prefetch">
  <link href="myPro/css/chunk-779448f1.201b0ef2.css" rel="prefetch">
  <link href="myPro/css/chunk-9804f742.0579b3f7.css" rel="prefetch">
  <link href="myPro/js/chunk-02637e39.e596a7d6.js" rel="prefetch">
  <link href="myPro/js/chunk-0a020b58.39007df5.js" rel="prefetch">
  <link href="myPro/js/chunk-0b8eb70b.41591003.js" rel="prefetch">
  <link href="myPro/js/chunk-256ef70c.a0c2b430.js" rel="prefetch">
  <link href="myPro/js/chunk-39815e61.6056e3fc.js" rel="prefetch">
  <link href="myPro/js/chunk-52909422.0fc335c7.js" rel="prefetch">
  <link href="myPro/js/chunk-53e8b5ce.f97dcb9d.js" rel="prefetch">
  <link href="myPro/js/chunk-762326fc.8d51f3ef.js" rel="prefetch">
  <link href="myPro/js/chunk-779448f1.85de6ae5.js" rel="prefetch">
  <link href="myPro/js/chunk-9804f742.7cb8649d.js" rel="prefetch">
  <link href="myPro/css/app.d5bf2a76.css" rel="preload" as="style">
  <link href="myPro/css/chunk-vendors.d38c9f5b.css" rel="preload" as="style">
  <link href="myPro/js/app.1864cde5.js" rel="preload" as="script">
  <link href="myPro/js/chunk-vendors.08a88816.js" rel="preload" as="script">
  <link href="myPro/css/chunk-vendors.d38c9f5b.css" rel="stylesheet">
  <link href="myPro/css/app.d5bf2a76.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but mypro doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong></noscript>
  <div id="app"></div>
  <script src="myPro/js/chunk-vendors.08a88816.js"></script>
  <script src="myPro/js/app.1864cde5.js"></script>
</body>

</html>