<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="test/favicon.ico">
  <title>nodevue</title>
  <link href="test/static/css/chunk-a123e822.c7005cd8.css" rel="prefetch">
  <link href="test/static/js/chunk-a123e822.2f96464b.js" rel="prefetch">
  <link href="test/static/css/app.ecd9eb53.css" rel="preload" as="style">
  <link href="test/static/css/chunk-vendors.caa671fd.css" rel="preload" as="style">
  <link href="test/static/js/app.3aa5bf0e.js" rel="preload" as="script">
  <link href="test/static/js/chunk-vendors.210f3237.js" rel="preload" as="script">
  <link href="test/static/css/chunk-vendors.caa671fd.css" rel="stylesheet">
  <link href="test/static/css/app.ecd9eb53.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but nodevue doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong></noscript>
  <div id="app"></div>
  <script src="test/static/js/chunk-vendors.210f3237.js"></script>
  <script src="test/static/js/app.3aa5bf0e.js"></script>
</body>

</html>